$mainColor: #0f0f0f;
$secondaryColor: #07b12c;
$otherColor: #ffff;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: $mainColor;
  margin: 0;
  padding: 0;
}

.candidates-app {
  padding: 0 1rem;
  &__header {
    color: $otherColor;
  }

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  min-height: 100vh;
  width: 100%;
}
